.header {

  width: 100%;
  height: 90px;

  background: #0066cc;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;

  box-shadow: 0 5px 15px rgba(0,0,0,0.25);

}


/* LOGO */

.brand {

  display: flex;
  align-items: center;

  gap: 10px;

}


.logo-box {

  width: 45px;
  height: 45px;

  background: white;

  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  color: #0066cc;

}



/* TEXTO */

.brand-name h1 {

  color: white;

  font-size: 20px;

  margin: 0;

}


.brand-name p {

  color: white;

  font-size: 13px;

  margin: 0;

}



/* MENU PC */

.nav-menu {

  display: flex;

  gap: 30px;

}


.nav-menu a {

  color: white;

  text-decoration: none;

  font-weight: 500;

}



/* ACORDEON */

.header-accordion {

  display: none;

  position: relative;

}



/* RESPONSIVE */

@media (max-width: 999px) {


  .header {

    height: auto;

    padding: 15px 20px;

  }



  .nav-menu {

    display: none;

  }



  .header-accordion {

    display: block;

  }


}